@mixin defaultFadeIn($duration: 2s) {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: $duration;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInToHalfOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.6;
	}
}
